[submodule "themes/hinode"]
	path = themes/hinode
	url = https://github.com/gethinode/hinode.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
